.link_menu a {
  text-decoration: none;
  color: inherit;
}

.link_title {
  display: flex;
  align-items: flex-end;
  gap: 14px;
  flex-wrap: nowrap;
  padding: 6px;
  margin-top: 32px;
}

#first {
  margin-top: 0;
}

.link_title img {
  width: 40px;
  height: 40px;
  object-fit: cover; 
}

.link_title h1 ,h2 {
  font-family: 'Caveat';
  color:whitesmoke;
  margin: 0;
  text-shadow: 5px 5px 7px rgba(0, 0, 0, 0.7);
}

.tiktok-embed {
  height: 180px !important;
  border-radius: 12px !important;
  background-color: black;
  margin: 0 !important;
}

#last {
    margin-bottom: 100px;
}